extends layout

block content

  form(action='/pet', method='POST', class='form-registration')
    div(class='row my-3')
      div(class='col-md-3 align-bottom')
        label(for="name", class='fs-5') Pet Name
        input(class="form-control form-control-sm", type="text", name='name', placeholder="Enter pet name" )
      div(class='col-md-3 align-bottom')
        label(for="species", class='fs-5') Species
        input(class="form-control form-control-sm", type="text", name='species', placeholder="Enter species" )
      div(class='col-md-3 align-bottom')
        label(for="breed", class='fs-5') Breed
        input(class="form-control form-control-sm", type="text", name='breed', placeholder="Enter breed" )
      div(class='col-md-3 align-bottom')
        label(for="birthday", class='fs-5') Birthday
        input(class="form-control form-control-sm", type="date", name='birthday', placeholder="Enter birthday" )
      div(class='col-md-3 align-bottom')
        label(for="gender", class='fs-5') Gender
        input(class="form-control form-control-sm", type="text", name='gender', placeholder="Enter gender" )
      div(class='col-md-3 align-bottom')
        label(for="weight", class='fs-5') Weight
        input(class="form-control form-control-sm", type="number", name='weight', placeholder="Enter weight" )
      div(class='col-md-3 align-bottom')
        label(for="owner", class='fs-5') Owner
        input(class="form-control form-control-sm", type="text", name='owner', placeholder="Enter owner" )
      div(class='col-md-3 text-end mt-4')
        button(class='btn btn-success btn-sm', type='submit') Add Pet

  h5(class='my-2') Pet Information
  div(class='row mb-3 border-bottom border-3')
    div(class='col-md-1 fw-bold') ID
    div(class='col-md-2 fw-bold') Name
    div(class='col-md-2 fw-bold') Species
    div(class='col-md-2 fw-bold') Breed
    div(class='col-md-2 fw-bold') Birthday
    div(class='col-md-2 fw-bold') Gender
    div(class='col-md-1 fw-bold') Actions
  each pet in pets
    div(class='row mb-2')
      div(class='col-sm-1') #{pet.id}
      div(class='col-sm-2') #{pet.name}
      div(class='col-sm-2') #{pet.species}
      div(class='col-sm-2') #{pet.breed}
      div(class='col-sm-2') #{format(pet.birthday, "yyyy-MM-dd")}
      div(class='col-sm-2') #{pet.gender}
      div(class='col-sm-1')
        form(action='./deletePet', method='POST', class='form-registration')
          input(type='hidden', name='_id', value=`${pet._id}`)
          button(class='btn btn-danger btn-sm mx-1', type='submit') Delete

  form(action='/owner', method='POST', class='form-registration')
    div(class='row my-3')
      div(class='col-md-3 align-bottom')
        label(for="name", class='fs-5') Owner Name
        input(class="form-control form-control-sm", type="text", name='name', placeholder="Enter owner name" )
      div(class='col-md-3 align-bottom')
        label(for="email", class='fs-5') Email
        input(class="form-control form-control-sm", type="email", name='email', placeholder="Enter email" )
      div(class='col-md-3 align-bottom')
        label(for="phone", class='fs-5') Phone
        input(class="form-control form-control-sm", type="text", name='phone', placeholder="Enter phone" )
      div(class='col-md-3 align-bottom')
        label(for="password", class='fs-5') Password
        input(class="form-control form-control-sm", type="password", name='password', placeholder="Enter password" )
      div(class='col-md-3 align-bottom')
        label(for="address", class='fs-5') Address
        input(class="form-control form-control-sm", type="text", name='address', placeholder="Enter address" )
      div(class='col-md-3 text-end mt-4')
        button(class='btn btn-success btn-sm', type='submit') Add Owner

  h5(class='my-2') Owner Information
  div(class='row mb-3 border-bottom border-3')
    div(class='col-md-1 fw-bold') ID
    div(class='col-md-3 fw-bold') Name
    div(class='col-md-3 fw-bold') Email
    div(class='col-md-3 fw-bold') Phone
    div(class='col-md-2 fw-bold') Actions
  each owner in owners
    div(class='row mb-2')
      div(class='col-sm-1') #{owner.id}
      div(class='col-sm-3') #{owner.name}
      div(class='col-sm-3') #{owner.email}
      div(class='col-sm-3') #{owner.phone}
      div(class='col-sm-2')
        form(action='./deleteOwner', method='POST', class='form-registration')
          input(type='hidden', name='_id', value=`${owner._id}`)
          button(class='btn btn-danger btn-sm mx-1', type='submit') Delete

  form(action='./medicalRecord', method='POST', class='form-registration')
    div(class='row my-3')
      div(class='col-md-3 align-bottom')
        label(for="diagnosis", class='fs-5') Diagnosis
        input(class="form-control form-control-sm", type="text", name='diagnosis', placeholder="Enter diagnosis" )
      div(class='col-md-3 align-bottom')
        label(for="medications", class='fs-5') Medications
        input(class="form-control form-control-sm", type="text", name='medications', placeholder="Enter medications" )
      div(class='col-md-3 align-bottom')
        label(for="visitDate", class='fs-5') Visit Date
        input(class="form-control form-control-sm", type="date", name='visitDate', placeholder="Enter visit date" )
      div(class='col-md-3 align-bottom')
        label(for="veterinarian", class='fs-5') Veterinarian
        input(class="form-control form-control-sm", type="text", name='veterinarian', placeholder="Enter veterinarian" )
      div(class='col-md-3 align-bottom')
        label(for="pet", class='fs-5') Pet
        input(class="form-control form-control-sm", type="text", name='pet', placeholder="Enter pet" )
      div(class='col-md-3 text-end mt-4')
        button(class='btn btn-success btn-sm', type='submit') Add Medical Record

  h5(class='my-2') Medical Record Information
  div(class='row mb-3 border-bottom border-3')
    div(class='col-md-1 fw-bold') ID
    div(class='col-md-2 fw-bold') Pet ID
    div(class='col-md-3 fw-bold') Diagnosis
    div(class='col-md-3 fw-bold') Medications
    div(class='col-md-2 fw-bold') Visit Date
    div(class='col-md-1 fw-bold') Actions
  each medicalRecord in medicalRecords
    div(class='row mb-2')
      div(class='col-sm-1') #{medicalRecord.id}
      div(class='col-sm-2') #{medicalRecord.petId}
      div(class='col-sm-3') #{medicalRecord.diagnosis}
      div(class='col-sm-3') #{medicalRecord.medications}
      div(class='col-sm-2') #{format(medicalRecord.visitDate, "yyyy-MM-dd")}
      div(class='col-sm-1')
        form(action='./deleteMedicalRecord', method='POST', class='form-registration')
          input(type='hidden', name='_id', value=`${medicalRecord._id}`)
          button(class='btn btn-danger btn-sm mx-1', type='submit') Delete

  form(action='/specialization', method='POST', class='form-registration')
    div(class='row my-3')
      div(class='col-md-3 align-bottom')
        label(for="name", class='fs-5') Name
        input(class="form-control form-control-sm", type="text", name='name', placeholder="Enter pet name" )
      div(class='col-md-3 text-end mt-4')
        button(class='btn btn-success btn-sm', type='submit') Add Specialization

  h5(class='my-2') Specializations information
  div(class='row mb-3 border-bottom border-3')
    div(class='col-md-1 fw-bold') ID
    div(class='col-md-2 fw-bold') Name
  each specialization in specializations
    div(class='row mb-2')
      div(class='col-sm-1') #{specialization.id}
      div(class='col-sm-2') #{specialization.name}
      div(class='col-sm-1')
        form(action='./deleteSpecialization', method='POST', class='form-registration')
          input(type='hidden', name='_id', value=`${specialization._id}`)
          button(class='btn btn-danger btn-sm mx-1', type='submit') Delete